*{padding: 0; margin: 0;}


body{
    overflow: hidden;
}

.container{
    height: 100vh;
    width: 100%;
}

#points{
    position: absolute;
    background-color: rgb(48, 48, 48);
    height: 9vh;
    width: 11vw;
    border-radius: 20px;

    top: 72%;
    left: 8%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vh;
}

.start_up{
    height: 100vh;
    width: 100%;
    background-color: black;

    background-image: url('../img/background_guitar_cats.jpg');
    background-position:bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    
    filter:brightness(30%);

    display: none;
}

.game{
    height: 100vh;
    width: 100%;
    background-color: black;

    display: flex;
    align-items: start;
    justify-content: center;
}

.game header{
    width: 35%;
    height: 100%;
    background: linear-gradient(180deg, rgb(3, 255, 192) 0%, rgb(255, 255, 255) 50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}

.diagonal{

    height: 100%;
    width: 100%;

    transform: perspective(100000);
}

.game header .gerador{
    background-color: #F2F2F2;
    width: 1%;
    height: 100%;


    display: block;
    justify-content: center;
}

.game header .gerador .clicker{
    width: 50px;
    height: 50px;

    position: absolute;

    transform: translateX(-22px);
    top: 90%;
}

.game header .gerador .partitura{

    width: 40px;
    height: 40px; 
    position:absolute;
    
    transform: translateX(-20px);
    margin: 2px;
    z-index: 2px;

    border-radius: 15px;
}

.clicker{
    border-radius: 15px;
}

.green, .clicker1{
    background-color: #255916;
}

.red, .clicker2{
    background-color: #D92332;
}

.yellow, .clicker3{
    background-color: #F2BB16;
}

.blue, .clicker4{
    background-color: #3470BF;
}

#active{
    filter: opacity(0.5);
}

.staaaaart{
    position:  absolute ;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border:  1px solid black;
    font-family: cursive;
    background-color: salmon;
    font-size: 2em;
    width: auto;
    height: auto;

    z-index: 10;
}

/* #gravity{
    animation: gravity 1s;
    animation-timing-function:linear;
    position: relative;
}

@keyframes gravity {
    0%{
        top: 0px;

    }

    100%{
        top: 95%;
    }
} */